{
  "credentials" : {
    "username" : "BlaMyGes",
    "password" : "BlaBla"
  }
  ,
  "credmails" : {
    "addr" : "Bla@gmail.com",
    "password" : "BlaBla"
  }
  ,
  "slacktoken" : {
    "BlaBla TokenSlack"
  }
}
